{{ define "main" }}
  <h2>{{ .Title }}</h2>
  {{ .Content }}
  <section class="projects">
    <section class="project">
      {{ with .Site.GetPage "/opensource.md" }}
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p>{{ .Summary }}</p>
      {{ end }}
    </section>
    {{ range .Pages }}
    <section class="project">
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <p>{{ .Summary }}</p>
    </section>
    {{ end }}
  </section>
{{ end }}