{{ define "main" }}
  <h2>{{ .Title }}</h2>
  {{ range .Paginator.Pages }}
    {{ partial "post_summary.html" . }}
  {{ end }}

  {{ template "_internal/pagination.html" . }}

  <p><b>TEMPLATE: </b><code>basic/posts/list.html</code></p>
{{ end }}