{{ define "main" }}
<article class="post">
  <header>
    <h2 class="blog single headline">{{ .Title }}</h2>
    {{ if .Params.banner }}
    <img src="{{ .Params.banner | relURL }}" alt="{{ .Params.banner_alt }}">
    {{ end }}
    <p>By: {{ .Params.Author }}</p>
    <p>Posted: {{ .Date.Format "January 2, 2006" }}
      <span class="tags">
        in
        {{ range .Params.tags }}
          <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </span>
    </p>
    <p>Categories: <span class="tags">
      {{ range .Params.categories }}
        <a class="tag" href="/categories/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </span></p>
    <p>Reading Time: {{ math.Round (div (countwords .Content) 200.0) }} minutes</p>
  </header>

  <section class="body">
    {{ .Content }}
  </section>

  <section class="related">
    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
      <h3>Related Pages</h3>
      <ul>
        {{ range . }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    {{ end }}
  </section>

  <section class="comments">
    <h3>Comments</h3>
    {{ if .Params.disableComments }}
      <p>Comments are turned off for this content.</p>
    {{ else }}
      {{ template "_internal/disqus.html" . }}
    {{ end }}
  </section>
</article>
{{ end }}