{{ define "main" }}
  <h2>{{ .Title }}</h2>
  {{ .Content }}
  <section class="presentations">
    {{ range .Pages }}
    <section class="presentation">
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    </section>
    {{ end }}
  </section>
{{ end }}