{{ define "main" }}
  <div class="presentation-container">
    <section class="presentation-list">
      <h2>Presentation</h2>
      <ul>
        {{ range (where .Site.RegularPages "Type" "in" "presentations").ByDate.Reverse }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </section>

    <section class="presentation">
      <h2>{{ .Title }}</h2>
      {{ .Content }}
    </section>
  </div>
{{ end }}