<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
      <div class="container">
        {{- partial "header.html" . -}}
        {{- partial "nav" . -}}
        <main>
          {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
      </div>
    </body>
</html>
