{{ define "main" }}
  <h2>{{ .Title }}</h2>
  {{ .Content }}
  {{ range .Data.Terms.Alphabetical }}
    <p class="tag terms">
      <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
      <span class="count">({{ .Count }})</span>
    </p>
  {{ end }}
  <p><b>TEMPLATE: </b><code>basic/layouts/_default/categories.terms.html</code></p>
{{ end }}