{{ define "main" }}
  <h2>{{ .Title }}</h2>
    {{ range .Pages }}
      {{ partial "post_summary.html" . }}
    {{ end }}

  {{ template "_internal/pagination.html" . }}

  <p><b>TEMPLATE: </b><code>basic/layouts/_default/category.html</code></p>
{{ end }}