{{ define "main" }}
  <h2>{{ .Title }}</h2>
  {{ .Content }}
  <ul>
      {{ range .Pages }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
  </ul>
  <p><b>TEMPLATE:</b> <code>basic/layouts/_default/list.html</code></p>
{{ end }}
