{{ define "main" }}
  <h2>{{ .Title }}</h2>
  <input type="search" id="searchField" required>
  <button id="searchButton">Search</button>
  <input id="allwords" type="checkbox">
  <label for="allwords">Require all words</label>

  <div id="output">
    <p>Waiting for search input</p>
  </div>

  <p><b>TEMPLATE: </b><code>basic/layouts/_default/search.html</code></p>
  {{ $js := resources.Get "js/app.js" | minify | fingerprint }}
  <script src="{{ $js.Permalink }}"></script>
{{ end }}