<footer>
  <div class="container">
    <ul class="footer-list">
      {{ range .Site.Data.socialmedia.accounts }}
        <li><a class="footer-links" href="{{ .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
  </div>
  <small>Copyright {{ now.Format "2006" }} {{ .Site.Params.author }}</small>
  <p>Powered by:<br>
    <a href="https://gohugo.io">
      <img src='{{ "/images/hugo-logo-wide.svg" | relURL }}' width="128" height="38">
    </a>
  </p>
</footer>