<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{- if .Page.IsHome -}}
      {{ .Site.Title }}
    {{- else -}}
      {{ .Title }} - {{ .Site.Title }}
    {{- end -}}
  </title>
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="description" content="
    {{- with .Page.Description }}
      {{ . }}
    {{- else -}}
      {{ .Site.Params.description }}
    {{- end -}}
  ">
  {{ range .AlternativeOutputFormats -}}
    {{- $link := `<link rel="%s" type="%s" href="%s" title="%s">` -}}
    {{- $title := printf "%s - %s" $.Page.Title $.Site.Title -}}

    {{- if $.Page.IsHome -}}
      {{- $title = $.Site.Title -}}
    {{- end -}}

    {{ printf $link .Rel .MediaType.Type .Permalink $title | safeHTML }}
  {{- end }}
  {{ $css := resources.Get "css/styles.scss" | toCSS | minify | fingerprint }}
  {{ $syntax := resources.Get "css/syntax.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  <link rel="stylesheet" href="{{ $syntax.RelPermalink }}">
</head>