<nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/posts">Blog</a>
  <a href="/projects">Projects</a>
  <a href="/presentations">Presentations</a>
  <a href="/resume">Resume</a>
  <a href="/contact">Contact</a>
</nav>