{{ define "main" }}

  {{ .Content }}

  <h2>Latest Blog Post</h2>
  {{ range first 1 (where .Site.RegularPages "Type" "in" "posts") }}
    {{ partial "post_summary.html" . }}
  {{ end }}

  <p>My most recent work:
    {{ range first 1 (where .Site.RegularPages "Type" "in" "projects") }}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
  </p>
  <p>My most recent presentation:
    {{ range first 1 (where .Site.RegularPages "Type" "in" "presentations") }}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
  </p>

{{ end }}
