footer {
  margin: 0 auto;
  padding: 0.5% 0;
}

ul.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

a.footer-links,
a.footer-links:visited {
  color: #FFF;
  text-decoration: none;
  font-size: 1.5rem;
}

a.footer-links:hover {
  color: lightblue;
}