nav {
  display: flex;
  flex-direction: column;

  > a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #FFF;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    flex-direction: row;
  }
}
