.oss {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  article {
    border: thin solid #DDD;
    box-shadow: 3px 3px 3px #DDD;
    margin: 0.5%;
    padding: 0.5%;
    width: 30%;
  }
}
