.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 1rem auto;
  padding: 0;

  .page-link {
    display: block;
    color: #000;
    text-decoration: none;
  }

  > .page-item {
    border: thin solid #DDD;
    flex: 1;
    text-align: center;
    width: 5rem;

    &.active {
      background-color: #333;

      .page-link {
        color: #FFF;
      }
    }

    &.disabled > .page-link {
      color: #DDD;
    }
  }
}

@media screen and (min-width: 768px) {
  .pagination {
    width: 30%;
  }
}
