@media only screen and (min-width: 768px) {
  .project-container,
  .presentation-container {
    display: flex;
  }

  .project-container .project-list,
  .presentation-container .presentation-list {
    width: 20%;
  }

  .project-container .project,
  .presentation-container .presentation {
    flex: 1;
    margin-left: 1rem;
  }
}