@import "navbar";
@import "layout";
@import "footer";
@import "images";
@import "pagination";
@import "oss";
@import "blogs";
@import "search";
@import "projects";

a.tag {
  background-color: #DDD;
  color: #333;
  display: inline-block;
  padding: 0.1rem;
  font-size: 0.9rem;
  text-decoration: none;
}
